@import "fabric.components.min.css";

@import "chartist.min.css";

// @import "~chartist/dist/scss/settings/_chartist-settings.scss";
// @import "~chartist/dist/scss/chartist.scss";

// Use import when this is working...

//@import "~office-ui-fabric/dist/sass/Fabric.Components";


.msTableCellNoWrap {
    white-space: nowrap;
}

.msTableOverflow {
  max-width: 100%;
  overflow: auto;
}

.msTablePager {
  text-align: center;
}