@import 'fabric.components.min.css';

// Use import when this is working...

//@import "~office-ui-fabric/dist/sass/Fabric.Components";


.msTableCellNoWrap {
    white-space: nowrap;
}

.msTableOverflow {
  max-width: 100%;
  overflow: auto;
}